* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
	font-size: 62.5%;
}

h1 {
	font-size: 3.2em;
}

h2 {
	font-size: 2.4em;
	margin-bottom: 8px;
}

h3 {
	font-size: 1.8em;
}

label,
p {
	font-size: 1.6em;
}

input,
div {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	justify-content: center;
	margin: 20px;
}

header {
	text-align: center;
	padding: 20px 0;
	background-color: #e2e2e2;
	color: #2e2e2e;
}

input {
	font-size: 1.6em;
	padding: 8px;
	margin-top: 4px;
	border-radius: 4px;
	border: 1px solid #c2c2c2;
	outline: none;
}

input:focus {
	border: 1px solid #5c5c5c;
}

h2,
h3,
label,
input {
	color: #2e2e2e;
}

.new-book,
.search-book,
#done-reading,
#undone-reading {
	padding: 12px;
	border: 1px solid #c2c2c2;
	width: 40%;
	border-radius: 4px;
}

#undone-reading {
	border: 3px solid #4484e6;
}

#done-reading {
	border: 3px solid #21ac56;
}

button {
	font-size: 1.6em;
	cursor: pointer;
}

header {
	cursor: pointer;
}

/* NEW BOOK SECTION */

.input,
.input_check {
	margin: 12px 0;
}

.input input {
	display: block;
	width: 100%;
}

.input_check label {
	margin-right: 2px;
}

.new-book button {
	width: 100%;
	border: none;
	padding: 16px;
	border-radius: 4px;
	background-color: #4484e6;
	color: white;
}

.section-1,
.section-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 12px;
}

/* SEARCH BOOK SECTION */

#search {
	display: flex;
}

#search input {
	flex-grow: 1;
	margin-top: 0;
}

/* SECTION DONE READING & UNDONE READING */

.book {
	border: 1px solid #c2c2c2;
	border-radius: 4px;
	padding: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
	margin-bottom: 12px;
}

.book .detail {
	grid-column: span 3;
}

.book .detail > * {
	margin: 4px;
}

.book .action {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 8px;
}

.book .action button {
	flex-grow: 1;
	font-size: 1.4em;
}

.book button {
	border: none;
	color: #fff;
}

#btn-delete {
	background-color: #e7e7e7;
	color: #2e2e2e;
}

#btn-delete:hover {
	background-color: #dddddd;
}

#btn-unread {
	background-color: #4484e6;
}

#btn-unread:hover {
	background-color: #3f7fdf;
}

#btn-read {
	background-color: #21ac56;
}

#btn-read:hover {
	background-color: #1ca550;
}